<main>
  <div id="wrapper2">
    <div id="welcome" class="container">
      <div class="title">
        <h2>Welcome to our website</h2>
      </div>
      <!--h3>You can find me inside {{ vm.name }}.html</h3-->
      <p>This is <strong>Fratoj</strong>, a conglomerate of independent individuals, all with different objectives trying hard to work together in harmony towards a common goal. The outcome is code, somehow, but we never know where the journey starts. Maybe with you, maybe not. Always in balance with nature, the primary force, and never with a struggle.</p>
    </div>
  </div>
</main>
