
body {
  background: #261300 url(/app/common/images/overlay.png) repeat;
  font-family: 'Source Sans Pro', sans-serif;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

