<section>
  <div id="wrapper2">
    <div id="welcome" class="container">
      <div class="title">
        <h2>Contact us</h2>
      </div>
      <h3>But not yet</h3>
      <p>
          <div class="row">
            <label for="name">Your name:</label>
            <input id="name" class="input" name="name" type="text" value="" size="30" />
          </div>
          <div class="row">
            <label for="email">Your email:</label>
            <input id="email" class="input" name="email" type="text" value="" size="30" />
          </div>
          <div class="row">
            <label for="message">Your message:</label>
            <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea>
          </div>
          <input id="submit_button" type="submit" value="Send email" />
      </p>
    </div>
  </div>
</section>
