<header></header>

<div class="ribbon l-box-lrg pure-g about">
    <div class="pure-u-1">
        <h2 class="content-head content-head-ribbon is-center">
            Contact us
        </h2>
    </div>
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <img class="pure-img-responsive" alt="Being a brother beats being a superhero" width="300" src="app/common/images/contact.png"/>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
      <h3>But not yet</h3>
      <p>
          <div class="row">
            <label for="name">Your name:</label>
            <input id="name" class="input" name="name" type="text" value="" size="30" />
          </div>
          <div class="row">
            <label for="email">Your email:</label>
            <input id="email" class="input" name="email" type="text" value="" size="30" />
          </div>
          <div class="row">
            <label for="message">Your message:</label>
            <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea>
          </div>
          <input id="submit_button" type="submit" value="Send email" />
      </p>
    </div>
</div>
<footer>
</footer>
